@font-face {
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-Regular.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-Black.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-Bold.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-Light.ttf"),
    url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");

  font-family: Montserrat;
}

@font-face {
  src: url("../assets/fonts/Questrial/Questrial-Regular.ttf");
  font-family: Questrial;
}

:root {
  --primary-color: #ff5672;
  --text-color: #c2cfd7;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Questrial;
}
p,
ul,
li,
button,
a {
  font-family: Montserrat;
}
button,
input {
  outline: none;
}

/* CONTENT APP */
#content-pages {
  margin-top: 100px;
}
.container {
  margin: 0 20%;
}
/* NAVBAR */
#navigation-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 100px;
  z-index: 99;
  background-color: #fff;
}
#navigation-container .content-button-menu {
  display: none;
}
.containers_links {
  display: flex;
  align-items: center;
}
.containers_links a {
  font-size: 14px;
  text-decoration: none;
  margin-right: 1.5rem;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.containers_links a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
#navigation-container .button_search {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.active_link {
  background-color: var(--primary-color);
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  transition: all 0.3s ease;
}
/* HERO */
#container-hero {
  background-color: var(--primary-color);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-hero .content-hero h2 {
  color: #fff;
  font-size: 39px;
}
#container-hero .content-hero p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 2rem 0;
}
#container-hero .content-hero .container-button-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-hero .container-button-hero button {
  background-color: #fff;
  border: 0;
  color: var(--primary-color);
  font-size: 16px;
  font-family: Questrial;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#container-hero .container-button-hero button:hover {
  padding: 6px 14px;
}

/* LIST NAVIGATION */
#container_list_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
#container_list_navigation .container_buttons_mode {
  margin: 60px 0;
}
#container_list_navigation .container_buttons_mode button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0 10px;
}
#container_list_navigation .container_buttons_mode button svg {
  height: 20px;
  width: auto;
}
.img_product {
  width: 200px;
  height: auto;
  object-fit: fill;
  cursor: pointer;
}

.container-flex-products {
  margin-top: 40px;
}
.item {
  margin: 5px;
}
#container_list_navigation .container-button-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
#container_list_navigation .container-button-loader .button-load-more {
  color: #fff;
  background-color: var(--primary-color);
  border: 0;
  outline: none;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#container_list_navigation .container-button-loader .button-load-more:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: #fff;
}
/* LOADING */
#container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
#container-loading .content-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container-loading .content-loading h2 {
  margin-top: 30px;
  font-size: 22px;
}

/* FOOTER */
#footer-principal {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#footer-principal .col1 h4 {
  font-size: 13px;
  color: var(--text-color);
}
#footer-principal .col1 span {
  color: var(--primary-color) !important;
  font-weight: bold;
}
#footer-principal .col2 a {
  margin-right: 1rem;
  cursor: pointer;
}
#footer-principal .col2 a:hover > svg {
  width: 16px;
  height: auto;
  transition: all 0.3s ease;
}
#footer-principal .col2 {
  margin-top: 2rem;
}

/* REPONSIVE DESING */
@media only screen and (max-width: 768px) {
  /* NAVBAR */
  #navigation-container {
    display: flex;
    max-width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px !important;
    height: 100px;
    z-index: 99;
    background-color: #fff;
    right: 0;
    left: 0;
  }
  #navigation-container .containers_links a {
    display: none;
  }
  #navigation-container .logo_nav img {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
  #navigation-container .content-button-menu {
    display: block;
    background-color: transparent;
    border: 0;
    outline: none;
    z-index: 9;
  }
  #navigation-container .button_search svg {
    width: 20px;
    height: auto;
  }
  #navigation-container .button_search {
    margin-right: 1rem;
  }
  .menu-responsive {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  /* HERO */
  #container-hero {
    background-color: var(--primary-color);
    height: 90vh;
    width: 100%;
  }
  #container-hero .content-hero h2 {
    color: #fff;
    font-size: 39px;
    text-align: center;
  }
  #content-pages {
    margin-top: 50px;
  }
  .container {
    margin: 0 5%;
  }
  .img_product {
    width: 100%;
    height: auto;
    object-fit: fill;
    cursor: pointer;
  }
  /* MENU RESPONSIVE */
  .header-menu-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
  }
  .button-close {
    background-color: transparent;
    border: 0;
  }
  .container-links-responsive {
    display: flex;
    flex-direction: column;
  }
  .container-links-responsive a {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: #000;
  }
}
